.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}
.started-link {
  display: inline-block;
  padding: 15px 30px;
  margin: 30px 0;
  border-radius: 40px;
  background-color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  color: #007bff;
}
.section {
  padding: 40px 0;
  background: #f0f0f5;
}
/* header */
#header {
  background: white;
}
.blue-bg {
  background: #009ae9;
  padding: 20px 0;
}
.blue-bg h1.white-title {
  padding-bottom: 20px;
  line-height: 1.4;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.blue-bg p.white-p {
  color: white;
  font-size: 16px;
}
/* content */
.section .main {
  margin-bottom: 50px;
}
.section .intro h2 {
  margin-bottom: 30px;
  line-height: 1.4;
  font-weight: bold;
  color: #3f4352;
}
.section .intro p {
  color: #838aa9;
  font-size: 20px;
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
